@page
@model AboutModel
@{
    ViewData["Title"] = "Proposed";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Having different builds and even repos for the various environments only makes maintenance more difficult
    and over time reduces productivity.
    The aim of this demo is to have a single repo and build definition to deploy to 3 different environments:
    <ul>
        <li>
            LAB - a place for proof of concept deployments.
            Any feature branch commit tagged with lab will be deployed to this.
            See
            <a href="https://git-scm.com/book/en/v2/Git-Basics-Tagging">
                here
            </a>
            for more details about tagging in git.
            Also any build subsequently tagged with lab in VSTS will also deploy to this.
        </li>
        <li>
            DEV - the development environments. Would normally contain testing environments UAT.
            Any pull request (PR) merged to the dev branch will be deployed to this. Pull requests work the same.
        </li>
        <li>
            PROD - production like environments, including staging or pre-production.
            Any pull request merged to the master branch (usually from the dev branch) will be deployed to this.
        </li>
    </ul>
</p>
<p>
    While the number of release definitions remain the same, task groups are used to group together tasks.
    An environment will typically call a few task groups and a couple of task directly.
    Most of the maintenance is done in the task group which only needs to be done once and is reflected in all 5 environments.
</p>
<p>
    While outside the scope of this demo product, the Azure resources would also be created by a single nested ARM template.
    This would use standard building blocks for each resource.
    The naming convention would also be brought into line with other projects.
</p>