@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
<p>
    Proposed solution to simplify the repos and builds for Explore Careers.
    The model is easily extended to both more environments and to other DFC projects.
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Benefits</h2>
        <p>
            Using a <a href="https://github.com/SkillsFundingAgency/dfc-labdemo">single source repo</a> and build definition reduces complexity and inconsistency!
</p>
    </div>
    <div class="col-md-4">
        <h2>Environments</h2>
        <ul>
            <li><a href="https://dfc-lab-labdemo-as.azurewebsites.net/">LAB</a></li>
            <li><a href="https://dfc-dev-labdemo-as.azurewebsites.net/">DEV</a></li>
            <li><a href="https://dfc-prd-labdemo-as.azurewebsites.net/">PROD</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>VSTS links</h2>
        <ul>
            <li><a href="https://sfa-gov-uk.visualstudio.com/Digital%20First%20Careers/_build?definitionId=1360">Build</a></li>
            <li><a href="https://sfa-gov-uk.visualstudio.com/Digital%20First%20Careers/_release?view=all&definitionId=44">Lab release</a></li>
            <li><a href="https://sfa-gov-uk.visualstudio.com/Digital%20First%20Careers/_release?view=all&definitionId=43">Dev release</a></li>
            <li><a href="https://sfa-gov-uk.visualstudio.com/Digital%20First%20Careers/_release?view=all&definitionId=40">Prod release</a></li>
        </ul>
    </div>
</div>
